<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.check.mapper.AttendanceMapper">

    <update id="alterStudentAttendance">
        UPDATE attendance
        SET
            is_attend=1
        WHERE lecture_id=#{lecture_id} AND user_id=#{user_id}
    </update>

    <select id="getStudentLectureAttendanceList" resultType="com.auto.check.domain.Attendance">
        SELECT a.id, a.is_attend, a.user_id, a.week, li.day_of_week, li.lecture_start, li.lecture_end
        FROM attendance a
        JOIN lecture_info li ON li.id=a.lecture_info_id
        WHERE li.lecture_id=#{lectureId} AND a.user_id=#{userId}
    </select>

    <insert id="insertAttendance">
        INSERT INTO attendance(user_id, week, lecture_info_id, created_at, modified_at, is_attend)
        VALUES(#{user_id}, #{week}, #{lecture_info_id}, default, default, 0);
    </insert>
</mapper>