<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.check.mapper.UserMapper">

    <select id="getPasswordByAccount" resultType="com.auto.check.domain.user.User">
        SELECT * FROM user WHERE account=#{account};
    </select>

    <select id="getUserById" resultType="com.auto.check.domain.user.User">
        SELECT id, account, name, school_number, user_type FROM user WHERE id=#{id}
    </select>

    <select id="getUserByNumber" resultType="com.auto.check.domain.user.User">
        SELECT id, account, name, school_number, user_type FROM user WHERE school_number=#{schoolNumber}
    </select>

    <select id="getUserByAccount" resultType="com.auto.check.domain.user.User">
        SELECT id, account, name, school_number, user_type FROM user WHERE account=#{account}
    </select>

    <insert id="insertUser">
        insert into user(account, password, name, school_number, user_type)
        values(#{account}, #{password}, #{name}, #{school_number}, #{user_type});
    </insert>
</mapper>